@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    height: 120vh;
    overflow-x: hidden;
    margin: auto
}

.header {
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header img {
    padding: 2px;
    height: 35px;
    float: left;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.header span {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-size: 25px;
    font-weight: 500;
    color: white
}

.header .logo {
    float: left;
    position: relative;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.search {
    width: 100%;
    justify-content: center;
}

.header .navigation {
    float: right;
}

.search form {
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    width: 50%;
}

.search input {
    border: none;
    outline: none;
    height: 35px;
    width: 90%;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    letter-spacing: 1px;
}

.search button {
    height: 35px;
    width: 7%;
    float: right;
    padding: 6px 10px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: white;
}

.search button:hover {
    background-color: #ddd;
}

.header ul li {
    width: 80px;
    float: right;
    text-align: center;
    opacity: 0.8;
    padding: 7px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
}

.header ul li a {
    text-decoration: none;
    color: white;
}

.header ul li:hover {
    background-color: darkblue;
}

.background {
    height: 43%;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(36, 44, 51, 0.5), rgba(36, 44, 51, 0.5)), url(pictures/dyson_vacuum_3.jpg);
    background-repeat: no-repeat;
}

.background h1 {
    font-weight: 500;
    font-size: 50px;
    color: white;
}


/*
.sidenav {
    position: fixed;
    padding-right: 10px;
    bottom: 40%;
    left: 0;
    border-radius: 0 5px 5px 0;
    background-color: dodgerblue;
}

.sidenav a {
    font-size: 40px;
    display: block;
    color: white;
    margin-left: 10px;
}

.sidenav a:hover {
    color: #ddd;
} */

.partner-text {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin: 20px;
}

.partner-list {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    gap: 2px;
}

.partner {
    border: none;
    background-color: rgb(245, 245, 245);
}

.partner img {
    height: 120px;
    z-index: -1;
}

.partner:hover {
    box-shadow: 0 0 5px 3px #888888;
    z-index: 0;
}

.items {
    height: 120%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    background-color: white;
}

.items .services {
    width: 70vw;
    background-color: dodgerblue;
    border-radius: 5px;
    margin-top: -100px;
}

.items .services .category {
    margin: 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

.services .title {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
    height: 30px;
    width: 100%;
}

.deals {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.deals .best-seller {
    position: relative;
    height: 80%;
    width: 30%;
    margin: 15px;
    border-radius: 5px;
    background-color: white;
}

.order {
    display: none;
    position: absolute;
    left: 6%;
    bottom: 40%;
    width: 88%;
    padding: 15px 0;
    z-index: 1;
    font-size: 18px;
    background-color: dodgerblue;
    opacity: 95%;
}

.order a {
    text-decoration: none;
    color: white;
}

.order:hover {
    display: inline;
}

.best-seller .best-tag,
.best-seller .limited-tag {
    position: absolute;
    left: 0;
    top: -5;
    height: 50px;
}

.best-seller .image,
.all .image {
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 85%;
    z-index: -1;
}

.image:hover+.order {
    display: inline;
    background-color: dodgerblue;
}

.deals .all {
    position: relative;
    min-height: 170px;
    overflow: hidden;
    width: 30%;
    margin: 15px;
    border-radius: 5px;
    background-color: white;
}

.deals .all p {
    font-size: 12px;
}

.all-book {
    position: absolute;
    bottom: 10%;
    left: 15%;
    background-color: dodgerblue;
    padding: 3px;
    width: 65%;
    border-radius: 3px;
}

.all-book a {
    text-decoration: none;
    color: white;
}

.check-text {
    width: 100%;
    margin: 10px;
}

footer {
    background-color: dodgerblue;
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 12px;
}

footer div a {
    font-size: 40px;
    margin-right: 20px;
    color: white;
}

footer div a:hover {
    color: rgb(200, 200, 200)
}