@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.header {
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(0deg, #333399, #3399FF);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header img {
    padding: 2px;
    height: 35px;
    float: left;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.header span {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-size: 25px;
    font-weight: 500;
    color: white
}

.header .logo {
    float: left;
    position: relative;
}

.header .navigation {
    float: right;
}

.header ul li {
    width: 80px;
    float: right;
    text-align: center;
    opacity: 0.8;
    padding: 7px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
}

.header ul li a {
    text-decoration: none;
    color: white;
}

.header ul li:hover>a {
    color: black;
}

.header ul li:hover {
    background-color: white;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.body {
    height: 100vh;
    width: 100%;
    background-color: #3399FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    min-width: 45%;
}

.tablinks {
    border-radius: 5px 5px 0 0;
    width: 110px;
    margin-right: -5px;
    margin-bottom: -10px;
    border: none;
    background: white;
}

.tab button.active {
    background-color: white;
    color: black;
}

.tab button {
    background-color: rgb(220, 220, 220);
    color: rgb(100, 100, 100);
}

.container {
    display: none;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 0 5px 5px 5px;
    margin-top: -1px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 150px;
    background: dodgerblue;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    border-bottom-width: 2px;
}

.user-details .input-box input:focus {
    border-color: dodgerblue;
}

#first {
    background-color: white;
}

#login {
    display: block;
}

form .button {
    height: 45px;
    margin: 5px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    background-color: dodgerblue;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
}

form .button input:hover {
    background-color: orange;
    color: black;
}

footer {
    background-color: rgb(0, 114, 255);
    padding: 30px;
    color: white;
    font-size: 12px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}

.footer .contact img {
    height: 35px;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
    margin-bottom: -10px;
    margin-right: 5px;
}

.footer .follow a {
    font-size: 40px;
    margin-right: 20px;
    color: white;
}

.footer .follow a:hover {
    color: rgb(200, 200, 200)
}

footer p {
    margin-bottom: -20px;
    margin-top: 20px;
}